@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Serif+KR:wght@600&family=Sunflower:wght@300&display=swap');

body, table, div, p, th, td{
font-family: 'Do Hyeon', sans-serif;
}

/* :root {
    --main-color: #3b474d;
    --main-color-light: #89ebeb;
    --main-color-dark: #263238;
  } */
button,button:hover{
    border:none;color:#fff;padding:10px;
}
.chat__messages,.chat__sidebar ul{
    list-style-type:none;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:300;
}
li,ul,.chat__sidebar{
    list-style-position:inside;
}
h3{
    font-weight:600;
    text-align:center;
    font-size:1.5rem;
}
button{
    background:black;
    cursor:pointer;
    transition:background .3s ease;
    border-radius: 0.90em;
}
button:hover{
    background:#263238;
}
button:disabled{
    cursor:default;
    background:#698ea5
}
.chat__footer label{
    display: inline-block;
    padding: .5em .75em; 
    font-size: inherit; 
    line-height: normal; 
    vertical-align: middle; 
    background-color: black; 
    cursor: pointer; 
    border-bottom-color: #e2e2e2; 
    border-radius: 0.90em;
    border:none;
    color:#fff;
}
.chat__footer input[type="file"] {
    position: absolute;
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}


.centered-form{
    display:flex;
    align-items:center;
    height:100vh;
    width:100vw;
    justify-content:center;
    background:-moz-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(49,84,129,1)),color-stop(100%,rgba(39,107,130,1)));
    background:-webkit-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-o-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-ms-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:linear-gradient(325deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%)
}
.centered-form__form{
    background:rgba(250,250,250,.9);
    border:1px solid #e1e1e1;
    border-radius:5px;
    padding:0 20px;
    margin:20px;
    width:230px
}
.form-field{
    margin:20px 0;
}
.form-field>*{
    width:100%;
}
.form-field label{
    display:block;
    margin-bottom:7px;
}
.form-field input,.form-field select{
    border:1px solid #e1e1e1;
    padding:10px;
}
.chat{
    display:flex;
}
.chat__sidebar{
    overflow-y: scroll hidden;
    width: 100px;
    height: 100vh;
    background-color: white;
    margin-top: 5px;

}
.chat__footer{
    background:#FFDC3C;
    padding:10px;
}
.chat__sidebar h3{
    color:black;
    margin:10px 20px;
    text-align:left;
}
 .chat__sidebar li{

    margin:10px;
} 
.chat__main{
    display:flex;
    flex-direction:column;
    height:100vh;
    width:100%;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}
.my_message .message__bubble {
    
    border-top-right-radius: 0;
    background-color: #ffdc3c;
}
.my_message{
    align-self: flex-end;
}
.other_message .message__bubble {
    border-top-left-radius: 0;
    background-color: white;
}
.other_message {
    animation: incomingAnima 0.5s ease-out forwards;
}
.other_message {
    align-self: flex-start;
}
.chat__messages{
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: powderblue;
}
.chat__footer{
    display:flex;
    flex-shrink:0;
}
.chat__footer form{
    flex-grow:1;
    display:flex;
}
.chat__footer form *{
    margin-right:10px;
}
.chat__footer input{
    border:none;
    padding:10px;
    flex-grow:1;
}
.message{
    padding:10px;
}
.message__title{
    display:flex;
    margin-bottom:5px;
}
.message__title h4{
    font-weight:600;
    margin-right:10px;
}
.message__title span{
    color:#999;
}
@media (max-width:600px){
    *{
        font-size:1rem;
    }
    .chat__sidebar{
        display:none;
    }
    .chat__footer{
        flex-direction:column;
    }
    .chat__footer form{
        margin-bottom:10px;
    }
    .chat__footer button{
        margin-right:0;
    }
}





.chat__write-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  
  .chat__icon-left {
    position: absolute;
    margin: 0 20px;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  
  .chat__icon-right {
    position: absolute;
    right: 5%;
  }
  
  @keyframes float {
    0% {
      transform: translateY(-50px);
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    50% {
      transform: translateY(-45px);
      box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    100% {
      transform: translateY(-50px);
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
  }
  
  .chat__write {
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    padding: 20px 60px;
    border: none;
    font-size: 14px;
    background-color: #fcfcfc;
    transition: all 0.3s ease-in;
  }
  
  .chat__write:focus {
    outline: none;
    width: 80%;
    border-radius: 40px;
    animation: float 3s ease-in-out infinite forwards;
  }
  .chat__write:focus ~ .chat__icon {
    opacity: 0;
  }
  
  .chat__icon {
    font-size: 22px;
    transition: opacity 0.1s ease-in-out;
  }
  
  .chat__icon .chat__write-icon {
    cursor: pointer;
  }
  
  .chat__icon-right .chat__write-icon {
    margin: 0 10px;
  }

  #users {
    margin-top: 20px;
  }
